.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drag-drop-wrap {
  background: #ecf0f1;
  height: 100vh;
  max-width: 100%;
  padding: 20px;

  .row {
    .content-wrap {
      &--left {
        height: 94vh;
        position: relative;

        .left-content-parent {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          height: 100%;
          border: 2px solid #34495e;
          border-radius: 5px;
          width: 100%;
          padding: 15px;
          box-shadow: 0 5px 10px -0px #95a5a6;
          //Sets the styling of the items when its on left panel
          * {
            width: 300px !important;
            height: auto !important;
            margin: 0 !important;
            padding: 0 !important;
            border: none !important;
          }
        }
      }

      &--right {
        height: 94vh;
        position: relative;

        .right-content-parent {
          overflow-y: auto;
          width: 95%;
          height: 100%;
          margin-left: 5%;
          border: 2px solid #34495e;
          border-radius: 5px;
          padding: 15px;
          box-shadow: 0 5px 10px -0px #95a5a6;
        }
      }
    }
  }
}

.o-switch {
  width: 100%;
}
