<div class="drag-drop-wrap container">
  <div class="row  no-gutters">
    <div class="content-wrap  content-wrap--left col-md-3">
      <div #toDoList="cdkDropList" (cdkDropListDropped)="drop($event)"
           [cdkDropListConnectedTo]="[doneList]" [cdkDropListData]="todo"
           cdkDropList cdkDropListSortingDisabled
           class="left-content-parent" id="list-one">
        <div *ngFor="let item of todo" cdkDrag class="example-box">
          <ng-container *ngTemplateOutlet="contentToRender; context: { $implicit: item }"></ng-container>
        </div>
      </div>
    </div>
    <div class="content-wrap  content-wrap--right col-md-9">
      <div #doneList="cdkDropList" (cdkDropListDropped)="drop($event)"
           [cdkDropListConnectedTo]="[toDoList]" [cdkDropListData]="done"
           cdkDropList class="right-content-parent"
           id="list-two">
        <div *ngFor="let item of done" cdkDrag class="example-box">
          <div [style.text-align]="item?.align ? item?.align : 'left'">
            <ng-container *ngTemplateOutlet="contentToRender; context: { $implicit: item }"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentToRender let-item>
  <container-element [ngSwitch]="item?.type">
    <some-element *ngSwitchCase="'image'">
      <img [src]="item.source" [style]="item?.stylings" alt="image" class="img-thumbnail">
    </some-element>
    <some-element *ngSwitchCase="'video'">

      <video #videoPlayer *ngIf="item.autoplay" [style]="item?.stylings" autoplay controls>
        <source [src]="item.source" type="video/mp4">
        Browser not supported
      </video>
      <video #videoPlayer *ngIf="!item.autoplay" [style]="item?.stylings" controls>
        <source [src]="item.source" type="video/mp4">
        Browser not supported
      </video>
    </some-element>
    <some-element *ngSwitchDefault>
       <span [innerHTML]="item?.source"
             [ngStyle]="{'text-decoration': (item?.underline) ? 'underline' : 'none',
             'font-weight': (item?.bold) ? 'bold' : '400',
             'font-style':  (item?.italic) ? 'italic' : 'normal'}"></span>
    </some-element>
  </container-element>
</ng-template>


<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Drop Settings</h4>
    <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <container-element [ngSwitch]="currentDroppingItemType">
      <some-element *ngSwitchCase="'image'">
        <ng-container [ngTemplateOutlet]="imageSettings"></ng-container>
      </some-element>
      <some-element *ngSwitchCase="'video'">
        <ng-container [ngTemplateOutlet]="videoSettings"></ng-container>
      </some-element>
      <some-element *ngSwitchCase="'text'">
        <ng-container [ngTemplateOutlet]="textSettings"></ng-container>
      </some-element>
      <some-element *ngSwitchDefault>

      </some-element>
    </container-element>
  </div>
</ng-template>

<ng-template #imageSettings>
  <form (ngSubmit)="submitImageSettingsForm()"
        [formGroup]="imageSettingsForm" class="container">
    <div class="o-switch btn-group no-outline" data-toggle="buttons" role="group">
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="left"> Left
      </label>
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="center"> Center
      </label>
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="right"> Right
      </label>
    </div>
    <ng-container formGroupName="stylings">
      <div class="form-group row">
        <div class="col-sm-6">
          <label>Width</label>
          <input class="form-control" formControlName="width" placeholder="Width" required type="text">
          <alert *ngIf="imageSettingsForm.get('stylings.width').invalid &&
                       imageSettingsForm.get('stylings.width').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper width
          </alert>
        </div>
        <div class="col-sm-6">
          <label>Height</label>
          <input class="form-control" formControlName="height" placeholder="Height" required type="text">
          <alert *ngIf="imageSettingsForm.get('stylings.height').invalid &&
                       imageSettingsForm.get('stylings.height').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper height
          </alert>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label>Border</label>
          <input class="form-control" formControlName="border" placeholder="Border" required type="text">
          <alert *ngIf="imageSettingsForm.get('stylings.border').invalid &&
                       imageSettingsForm.get('stylings.border').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper border
          </alert>
        </div>
        <div class="col-sm-6">
          <label>Margin</label>
          <input class="form-control" formControlName="margin" placeholder="Margin" required type="text">
          <alert *ngIf="imageSettingsForm.get('stylings.margin').invalid &&
                       imageSettingsForm.get('stylings.margin').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper margin
          </alert>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label>Padding</label>
          <input class="form-control" formControlName="padding" placeholder="Padding" required type="text">
          <alert *ngIf="imageSettingsForm.get('stylings.padding').invalid &&
                       imageSettingsForm.get('stylings.padding').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper padding
          </alert>
        </div>
      </div>

    </ng-container>
    <button class="btn btn-info btn-block my-4" type="submit">Save</button>
  </form>
</ng-template>

<ng-template #videoSettings>
  <form (ngSubmit)="submitVideoSettingsForm()"
        [formGroup]="videoSettingsForm" class="container">
    <div class="o-switch btn-group no-outline" data-toggle="buttons" role="group">
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="left"> Left
      </label>
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="center"> Center
      </label>
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="right"> Right
      </label>
    </div>
    <ng-container formGroupName="stylings">
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="width">Width</label>
          <input class="form-control" formControlName="width" id="width" placeholder="Width" required type="text">
          <alert *ngIf="videoSettingsForm.get('stylings.width').invalid &&
                       videoSettingsForm.get('stylings.width').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper width
          </alert>
        </div>
        <div class="col-sm-6">
          <label for="height">Height</label>
          <input class="form-control" formControlName="height" id="height" placeholder="Height" required type="text">
          <alert *ngIf="videoSettingsForm.get('stylings.height').invalid &&
                       videoSettingsForm.get('stylings.height').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper height
          </alert>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label for="border">Border</label>
          <input class="form-control" formControlName="border" id="border" placeholder="Border" required type="text">
          <alert *ngIf="videoSettingsForm.get('stylings.border').invalid &&
                       videoSettingsForm.get('stylings.border').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper border
          </alert>
        </div>
        <div class="col-sm-6">
          <label for="margin">Margin</label>
          <input class="form-control" formControlName="margin" id="margin" placeholder="Margin" required type="text">
          <alert *ngIf="videoSettingsForm.get('stylings.margin').invalid &&
                       videoSettingsForm.get('stylings.margin').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper margin
          </alert>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label>Padding</label>
          <input class="form-control" formControlName="padding" placeholder="Padding" required type="text">
          <alert *ngIf="videoSettingsForm.get('stylings.padding').invalid &&
                       videoSettingsForm.get('stylings.padding').touched" class="error" type="danger">
            <i class="fa fa-info-circle"></i>
            can't be blank and should have proper padding
          </alert>
        </div>
      </div>
    </ng-container>
    <div class="col-sm-6 p-0">
      <label class="checkbox-inline">
        <input formControlName="autoplay" type="checkbox"> Autoplay
      </label>
    </div>
    <button class="btn btn-info btn-block my-4" type="submit">Save</button>
  </form>
</ng-template>

<ng-template #textSettings>
  <form (ngSubmit)="submitTextSettingsForm()"
        [formGroup]="textSettingsForm" class="container">
    <div class="o-switch btn-group no-outline" data-toggle="buttons" role="group">
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="left"> Left
      </label>
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="center"> Center
      </label>
      <label class="btn btn-secondary">
        <input autocomplete="off" formControlName="align" type="radio" value="right"> Right
      </label>
    </div>
    <ng-container>
      <div class="form-check form-check-inline">
        <input [checked]="textSettingsForm.controls['bold']?.value" class="form-check-input"
               formControlName="bold" id="inlineCheckbox1"
               type="checkbox">
        <label class="form-check-label" for="inlineCheckbox1">Bold</label>
      </div>
      <div class="form-check form-check-inline">
        <input [checked]="textSettingsForm.controls['italic']?.value" class="form-check-input"
               formControlName="italic" id="inlineCheckbox2"
               type="checkbox">
        <label class="form-check-label" for="inlineCheckbox2">Italic</label>
      </div>
      <div class="form-check form-check-inline">
        <input [checked]="textSettingsForm.controls['underline']?.value" class="form-check-input"
               formControlName="underline" id="inlineCheckbox3"
               type="checkbox">
        <label class="form-check-label" for="inlineCheckbox3">Underline</label>
      </div>
    </ng-container>
    <button class="btn btn-info btn-block my-4" type="submit">Save</button>
  </form>
</ng-template>
